@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


html {
    font-size: 62.5%;
}

body {
    min-height: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Roboto Slab", serif;
}